.navbar {
    -fx-background-color: #001232;
    -fx-border-color: transparent;
    -fx-min-height: 64px;
    -fx-max-height: 64px;
}

.navbar-logo {
    -fx-font-size: 20px;
    -fx-text-fill: #F6F6F6;
}

.navbar-title {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #F6F6F6;
}

.nav-btn {
    -fx-background-color: #2C3B54;
    -fx-text-fill: #F6F6F6;
    -fx-background-radius: 20;
    -fx-padding: 6 16 6 16;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-border-width: 0;
}

.nav-btn-active {
    -fx-background-color: #F1E356;
    -fx-text-fill: #001232;
    -fx-background-radius: 20;
    -fx-padding: 6 16 6 16;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-border-width: 0;
}

.navbar-user {
    -fx-font-size: 12px;
    -fx-text-fill: #F6F6F6;
}

.navbar-change-user {
    -fx-font-size: 12px;
    -fx-text-fill: #586376;
    -fx-cursor: hand;
}
